@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


* {
    font-size: 25px;
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    overflow-x: hidden;
    list-style: none;
     text-decoration: none; 
}

:root {
  --red-color-: #ca3b3a;
  --black-color-: #161616;
  --gray-color-: #707070;
}

.header-contain {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.header-contain ul {
  display: flex;
  justify-content: space-evenly;
}

.header-logo img {
    width: 100px;
    margin-top: 10px;
}

.header-links ul li a {
  font-family: 'Nunito Sans', sans-serif;
    margin-left:  1rem;
 }

.nav-icons {
  display: flex;
  margin-top: 1.25rem;
  margin-right: 2rem;
  gap: 37px;
}


/*======================= Body/Main =========*/
.section .contain {
    padding: 100px 0px;
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contain-img {
    width: 450px;
}

.contain-img img {
    width: 100%;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    margin: 10px 0px;
    font-weight: 800;
    color: var(--red-color-);
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 5px;
    font-weight: 700;
}

p {
  font-family: 'Nunito Sans', sans-serif;
    color: var(--gray-color-);
    margin: 0px;
    font-size: 20px;
}

button {
  font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
    transition-duration: .8s;
    font-size: 20px;
    color: white;
    border: hidden;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: var(--red-color-);
}

button:hover {
        background: #e91a1a;
        transition: .7s;
}

.contain-price span {
    font-size: 30px;
    font-weight: 800;
}

.contain-price {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*=================== Modal ==============*/

div.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonOpenModal {
  height: 1.9rem;
  margin-top: 26px;
  
}



@keyframes modal {
  0% {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#modal {
  position: fixed;
  left: 0;
  top: -3.3rem;
  width: 100%;
  height: 115%;
  z-index: 9999;
  display: block;
  overflow: hidden;
  display: none;
}

#modal.show {
opacity: 1;
display: block;
}





.wpp-link img  {
  margin-top: .7rem;
  width: 60px;
  height: 60px;
    border-radius: 29px;
}

.modal-button {
  display: flex;
  justify-content: center;
}


.modal-contain {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  margin: 100px auto;
  padding: 0;
  border: 1px solid var(--red-color-);
  width: 140vw;
  max-width: 85%;
}

.modal-contain h4 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 23px;
  color: #FFFFFF;
  background: #ca3b3a;
  border-radius: 8px;
}

.modal-contain p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  color: #161616;
  text-align: center;

}

.modal-contact-button {
  background: none;
  width: 20px;
   border-radius: 25%;
}

.contain-details { 
  padding: 20px 80px;
  background-color: #F9F7D6;
  display: flex;
}

.audio,
.connectivity,
.battery {
  padding: 0px 20px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 30%;
  font-size: 20px;
}

.audio span,
.connectivity span,
.battery span{
  margin-right: 30px;
}
  
  .audio p,
  .connectivity p,
  .battery p {
    font-family: 'Nunito Sans', sans-serif;
    flex: 1;
    color: #707070;
    text-align: left;
  }

  
  @media (max-width:1000px) {
        
    .section .contain {
      max-width: 100vw;
    }
    
    .contain-text {
      font-family: 'Nunito Sans', sans-serif;
      width: 37vw;
    }
    
    .contain-img{
      width: 100%;
      margin: 50px;
    }

      .contain-details{
        align-items: baseline;
    }

    .contain-price {
      display: flex;
      flex-direction: column;
      margin-right: 54px;
    }
    
  }
  
  @media (max-width:801px) {

    .contain-text {
      width: 50vw;
    }

    h1 {
      font-family: 'Nunito Sans', sans-serif;
        text-align: left;
        font-size: 1.3em;
    }

    h4 {
      font-family: 'Nunito Sans', sans-serif;
      font-size: .9em;
    }
    
    .contain-img {
      width: 100%;
    }

    .header-links {
      display: none;
    }

    .contain {
        flex-direction: column;
        width: 100vw;
      }

      .contain-details {
        width: 100vw;
        padding: 40px 10px ;
        flex-direction: column;
      }

      .contain-price button {
      height: 50px;
      width: 200px;
      border-radius: 6px;
    }

    #modal {
      position: fixed;
      left: 0;
      top: -3rem;
      width: 100%;
      height: 115%;
      z-index: 9999;
      display: block;
      overflow: auto;
    }
    
  }
  